/********** ROOT ************/
$grey-text: #333;
$green-color: #589441;

* {
  font-family: 'Bricolage Grotesque', sans-serif;
}

/********** NAVBAR **********/

nav {
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    flex: 1;
    line-height: 0; // remove space below image
    img {
      width: 4rem;
      margin: 0.5rem 0 0.5rem 10rem;
    }
  }

  ul {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      font: 600 2rem 'Open Sans', sans-serif;
      margin-right: 1rem;
      padding: 0.5rem;
      border-radius: 20%;
      transition: all 0.1s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #eee;
      }

      a {
        text-decoration: none;
        color: $grey-text;
      }
    }
  }

  .nav-buttons-container {
    text-align: center;
    flex: 1;

    button {
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2980b9;
      }
    }
  }
}

/********** GRID **********/

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border: 2px solid red;
}

/********** CITIES CARD **********/

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: 'image' 'text' 'stats';

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.25s ease;
  cursor: pointer;
  margin: 30px;

  &:hover {
    transform: scale(1.0675);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }

  &-image {
    grid-area: image;
    background: url('../public/images/cities/Irvine.jpeg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  &-text {
    grid-area: text;
    margin: 25px;

    .date {
      color: rgb(255, 7, 110);
      font-size: 13px;
    }
    p {
      color: grey;
      font-size: 15px;
      font-weight: 300;
    }
    h2 {
      margin-top: 0px;
      font-size: 28px;
    }
  }

  &-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: $green-color;

    .stat {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
    }
    .border {
      border-left: 1px solid $grey-text;
      border-right: 1px solid $grey-text;
    }
    .value {
      font-size: 22px;
      font-weight: 500;
      sup {
        font-size: 12px;
      }
    }
    .type {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
