/********** ROOT ************/
* {
  font-family: 'Bricolage Grotesque', sans-serif; }

/********** NAVBAR **********/
nav {
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav #logo {
    flex: 1;
    line-height: 0; }
    nav #logo img {
      width: 4rem;
      margin: 0.5rem 0 0.5rem 10rem; }
  nav ul {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav ul li {
      font: 600 2rem 'Open Sans', sans-serif;
      margin-right: 1rem;
      padding: 0.5rem;
      border-radius: 20%;
      transition: all 0.1s ease-in-out; }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li:hover {
        background-color: #eee; }
      nav ul li a {
        text-decoration: none;
        color: #333; }
  nav .nav-buttons-container {
    text-align: center;
    flex: 1; }
    nav .nav-buttons-container button {
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      nav .nav-buttons-container button:hover {
        background-color: #2980b9; }
