/********** ROOT ************/
* {
  font-family: 'Bricolage Grotesque', sans-serif; }

/********** NAVBAR **********/
nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.85); }
  nav #logo {
    flex: 1;
    line-height: 0; }
    nav #logo img {
      width: 4rem;
      margin: 0.5rem 0 0.5rem 9rem; }
  nav ul {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav ul li {
      font: 600 2rem 'Open Sans', sans-serif;
      margin-right: 1rem;
      padding: 0.5rem;
      border-radius: 20%;
      transition: all 0.1s ease-in-out; }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li:hover {
        background-color: #eee; }
      nav ul li a {
        text-decoration: none;
        color: #333; }
  nav .nav-buttons-container {
    text-align: center;
    flex: 1; }
    nav .nav-buttons-container a {
      text-decoration: none;
      color: white; }
    nav .nav-buttons-container button {
      background-color: #129d72;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.1s; }
      nav .nav-buttons-container button.welcome {
        background-color: #ff336e; }
        nav .nav-buttons-container button.welcome:hover {
          cursor: default; }
      nav .nav-buttons-container button:hover {
        background-color: #ff336e; }

/********** FLASH MESSAGES **********/
.flash-message {
  color: white;
  position: fixed;
  top: 0;
  /* Start off-screen */
  left: 32%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: none;
  /* Use a single animation for sliding in and out */
  opacity: 0;
  /* Initially hide the element */ }
  .flash-message.animate-slide-in-out {
    animation: slideInOut 6s ease-in-out; }
  .flash-message.error-message {
    background-color: #e74c3c;
    /* Assuming $error-color is defined elsewhere */ }
  .flash-message.success-message {
    background-color: #2ecc71;
    /* Assuming $success-color is defined elsewhere */ }

@keyframes slideInOut {
  0% {
    top: -100%;
    /* Start off-screen and hidden */
    opacity: 0; }
  10% {
    top: 18px;
    /* Slide in to the top of the viewport */
    opacity: 1; }
  80% {
    top: 18px;
    /* Stay visible for most of the animation */
    opacity: 1; }
  100% {
    top: -100%;
    /* Slide out and hide */
    opacity: 0; } }

/********** GRID **********/
.main-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 75px; }

/********** CITIES CARD **********/
.city-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: 0.25s ease;
  cursor: pointer;
  margin: 30px;
  position: relative; }
  .city-card a {
    text-decoration: none; }
  .city-card .city-delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3498db;
    border-top-right-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: none; }
    .city-card .city-delete-button i {
      color: white;
      font-size: 1.5rem; }
    .city-card .city-delete-button:hover {
      background-color: #ff336e; }
  .city-card .city-edit-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3498db;
    border-top-left-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: none; }
    .city-card .city-edit-button i {
      color: white;
      font-size: 1.5rem; }
    .city-card .city-edit-button:hover {
      background-color: #ff336e; }
  .city-card .delete-dialog {
    width: clamp(40%, 50%, 600px);
    height: clamp(40%, auto, 600px);
    font-size: clamp(1.2rem, 2vw, 1.5rem); }
    .city-card .delete-dialog button {
      background-color: #129d72;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 1rem 0 0 0;
      font-size: clamp(1rem, 2vw, 1.5rem);
      cursor: pointer;
      transition: all 0.1s; }
      .city-card .delete-dialog button:hover {
        background-color: #ff336e; }
  .city-card:hover {
    transform: scale(1.0675);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); }
  .city-card-image {
    height: 210px;
    background-size: cover; }
    .city-card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
  .city-card-text {
    padding: 10px; }
    .city-card-text .date {
      color: #ff076e;
      font-size: 13px; }
    .city-card-text p {
      color: black;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.25;
      padding: 0.75rem 0; }
    .city-card-text h2 {
      margin-top: 0px;
      font-size: 28px; }
  .city-card-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
    .city-card-stats .stat {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #3498db;
      color: #fcfcfc; }
    .city-card-stats .border {
      border-left: 1px solid #333;
      border-right: 1px solid #333; }
    .city-card-stats .value {
      font-size: 22px;
      font-weight: 500; }
      .city-card-stats .value sup {
        font-size: 12px; }
    .city-card-stats .type {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase; }

/********** ATTRACTIONS CARD **********/
.attraction-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  border-radius: 18px;
  text-align: center;
  transition: 0.25s ease;
  cursor: pointer;
  margin: 30px;
  position: relative; }
  .attraction-card a {
    text-decoration: none; }
  .attraction-card .attraction-delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3498db;
    border-top-right-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: none; }
    .attraction-card .attraction-delete-button i {
      color: white;
      font-size: 1.5rem; }
    .attraction-card .attraction-delete-button:hover {
      background-color: #ff336e; }
  .attraction-card .attraction-edit-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3498db;
    border-top-left-radius: 15px;
    padding: 5px;
    cursor: pointer;
    display: none; }
    .attraction-card .attraction-edit-button i {
      color: white;
      font-size: 1.5rem; }
    .attraction-card .attraction-edit-button:hover {
      background-color: #ff336e; }
  .attraction-card .delete-dialog {
    width: clamp(40%, 50%, 600px);
    height: clamp(40%, auto, 600px);
    font-size: clamp(1.2rem, 2vw, 1.5rem); }
    .attraction-card .delete-dialog button {
      background-color: #129d72;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 1rem 0 0 0;
      font-size: clamp(1rem, 2vw, 1.5rem);
      cursor: pointer;
      transition: all 0.1s; }
      .attraction-card .delete-dialog button:hover {
        background-color: #ff336e; }
  .attraction-card:hover {
    transform: scale(1.0675); }
  .attraction-card-image {
    height: 210px;
    background-size: cover; }
    .attraction-card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px; }
  .attraction-card-text {
    padding: 10px; }
    .attraction-card-text .date {
      color: #ff076e;
      font-size: 13px; }
    .attraction-card-text p {
      color: black;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.25;
      padding: 0.75rem 0; }
    .attraction-card-text h2 {
      margin-top: 0px;
      font-size: 28px; }

/********** ADD ICON **********/
.addIcon {
  position: fixed;
  bottom: 65px;
  right: 10px;
  background-color: white;
  border-radius: 50%; }
  .addIcon i {
    font-size: 3rem;
    color: #129d72;
    transition: all 0.1s;
    cursor: pointer; }
    .addIcon i:hover {
      color: #ff336e; }

/********** ADD CITY MODAL **********/
dialog {
  width: clamp(40%, 50%, 600px);
  height: clamp(40%, auto, 600px);
  font-family: 'Source Sans Pro', sans-serif; }
  dialog::backdrop {
    backdrop-filter: blur(5px);
    /* Apply a blur effect */ }
  dialog .modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    dialog .modalContainer #formHeading {
      font-size: 25px;
      color: #129d72; }
    dialog .modalContainer form {
      width: 80%; }
      dialog .modalContainer form > * {
        margin: 10px; }
      dialog .modalContainer form input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #aaa;
        font-size: 13px;
        font-weight: 300;
        color: #000000;
        letter-spacing: 0.11em; }
        dialog .modalContainer form input::placeholder {
          color: rgba(51, 51, 51, 0.5);
          font-size: 0.75rem; }
        dialog .modalContainer form input:focus {
          outline: 0;
          border-bottom: 1px solid rgba(18, 157, 114, 0.7);
          transition: 0.6s all ease;
          font-weight: bold; }
      dialog .modalContainer form input[type='file'] {
        display: none; }
      dialog .modalContainer form .file-label {
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: #3498db; }
        dialog .modalContainer form .file-label:hover {
          cursor: pointer;
          background-color: #ff336e; }
      dialog .modalContainer form button {
        width: 100%;
        height: 30px;
        border: 0;
        outline: 0;
        color: white;
        font-size: 15px;
        font-weight: 400;
        background: #129d72;
        cursor: pointer; }
        dialog .modalContainer form button:hover {
          background: #ff336e; }

/********** FOOTER **********/
footer {
  background-color: rgba(252, 252, 252, 0.85);
  border-top: 1px solid #eee;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer span i {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    color: black; }

/********** SIGN UP **********/
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; }
  .signup-container > * {
    margin: 10px; }
  .signup-container input {
    width: 20vw;
    border: 0;
    border-bottom: 1px solid #aaa;
    font-size: 13px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.11em; }
    .signup-container input::placeholder {
      color: rgba(51, 51, 51, 0.5);
      font-size: 0.75rem; }
    .signup-container input:focus {
      outline: 0;
      border-bottom: 1px solid rgba(18, 157, 114, 0.7);
      transition: 0.6s all ease;
      font-weight: bold; }
  .signup-container button {
    width: 20vw;
    height: 30px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    background: #129d72;
    cursor: pointer; }
    .signup-container button:hover {
      background: #ff336e; }
