{% extends 'base.njk' %}

{% block main %}
      {% if attractions %}
        {% for attraction in attractions %}
          <div class="card">
            <div class="card-image">
              {% if city.image.img.data %}
                <img src="data:{{ city.image.img.contentType }};base64,{{ city.image.img.data.toString('base64') }}", alt="{{ city.name }}">
                {% else %}
                <img src="./public/images/cities/irvine.jpeg">
              {% endif %}
            </div>
            <div class="card-text">
              <span class="date"><h2>{{ city.name }}</h2></span>
              <p>"{{ city.description }}"</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
{% endblock %}

{% block dialog %}
    <div id="addAttractionButton" class="addIcon">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

    <dialog id="addAttractionForm">
      <div class="modalContainer">
        <div id="formHeading">Add an Attraction</div>
        <form action="/cities/{{ city.name }}" method="POST" enctype="multipart/form-data">
          <input type="text" placeholder="Name" id="attractionName" name="attractionName" required/>
          <input type="text" placeholder="Description" id="attractionDesc" name="attractionDesc" />
          <input type="file" id="attractionImg" name="attractionImg" class="file-input" />
          <label for="attractionImg" class="file-label">
            <i class="fa-solid fa-image"></i>
            &nbsp;Upload Image
          </label>
          <button type="submit">Submit</button>
        </form>
      </div>
    </dialog>
{% endblock %}