{% extends 'base.njk' %}

{% block main %}
    <div class="main-wrapper">
      {% if attractions %}
        {% for attraction in attractions %}
          <div class="attraction-card">
            <div class="attraction-card-text">
              <span class="date"><h2>{{ attraction.name }}</h2></span>
            </div>
            <div class="attraction-card-image">
              {% if attraction.image.img.data %}
                  <img src="data:{{ attraction.image.img.contentType }};base64,{{ attraction.image.img.data.toString('base64') }}", alt="{{ city.name }}">
                {% else %}
                  <img src="./public/images/noImg.jpeg">
              {% endif %}
            </div>
            <div class="attraction-card-text">
              <p>"{{ attraction.description }}"</p>
            </div>
            <div id="attractionDELETE" class="attraction-delete-button" data-attraction-id="{{ attraction.id }}">
              <i class="fa-regular fa-trash-can"></i>
            </div>
            <dialog id="deleteAttractionDialog-{{ attraction.id }}" class="delete-dialog">
              <p>Are you sure you want to delete attraction {{ attraction.name }}?</p>
              <button id="confirmDeleteAttraction">Yes</button>
              <button id="cancelDeleteAttraction">No</button>
            </dialog>

            <div id="cityEDIT" class="attraction-edit-button" data-attraction-id="{{ attraction.id }}">
              <i class="fa-regular fa-pen-to-square"></i>
            </div>
            <dialog id="editAttractionDialog-{{ attraction.id }}">
              <div class="modalContainer">
                <div id="formHeading">Edit {{ city.name }}</div>
                <form id="editAttractionForm-{{ attraction.id }}" action="/" method="PUT" enctype="multipart/form-data">
                  <input type="text" placeholder="{{ attraction.name }}" id="attractionName" name="attractionName"/>
                  <input type="text" placeholder="{{ attraction.description }}" id="attractionDesc" name="attractionDesc" />
                  <input type="file" id="attractionImgPUT" name="attractionImgPUT" class="file-input" />
                  <label for="attractionImgPUT" class="file-label">
                    <i class="fa-solid fa-image"></i>
                    &nbsp;Upload Image
                  </label>
                  <button id="submitAttractionChange" type="submit">Submit Change</button>
                </form>
              </div>
            </dialog>
          </div>
        {% endfor %}
      {% endif %}
    </div>
{% endblock %}

{% block dialog %}
    <div id="addAttractionButton" class="addIcon">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

    <dialog id="addAttractionForm">
      <div class="modalContainer">
        <div id="formHeading">Add an Attraction {{ city.name }}</div>
        <form action="/cities/{{ cityName }}" method="POST" enctype="multipart/form-data">
          <input type="text" placeholder="Name" id="attractionName" name="attractionName" required/>
          <input type="text" placeholder="Description" id="attractionDesc" name="attractionDesc" />
          <input type="file" id="attractionImg" name="attractionImg" class="file-input" />
          <label for="attractionImg" class="file-label">
            <i class="fa-solid fa-image"></i>
            &nbsp;Upload Image
          </label>
          <button type="submit">Submit</button>
        </form>
      </div>
    </dialog>
{% endblock %}