{% extends 'base.njk' %}

{% block main %}
      {% if cities and isAuthenticated %}
        <div class="main-wrapper">
        {% for city in cities %}
          <div class="city-card">
            <a href="{{ city.url }}">
              <div class="city-card-image">
                {% if city.image.img.data %}
                  <img src="data:{{ city.image.img.contentType }};base64,{{ city.image.img.data.toString('base64') }}", alt="{{ city.name }}">
                  {% else %}
                  <img src="./public/images/noImg.jpeg">
                {% endif %}
              </div>
              <div class="city-card-text">
                <span class="date"><h2>{{ city.name }}</h2></span>
                <p>{{ city.description }}</p>
              </div>
              <div class="city-card-stats">
                <div class="stat">
                  <div class="value">{{ city.population }}</div>
                  <div class="type">population</div>
                </div>
                <div class="stat border">
                  {% if city.AHI %}
                    <div class="value">{{ city.AHI }}</div>
                  {% else %}
                    <div class="value">null</div>
                  {% endif %}
                  <div class="type">AHI ($)</div>
                </div>
                <div class="stat">
                  {% if city.area %}
                    <div class="value">
                      {{ city.area }}
                      <sup>2</sup>
                    </div>
                  {% else %}
                    <div class="value">null</div>
                  {% endif %}
                  <div class="type">area (m)</div>
                </div>
              </div>
            </a>
            <div id="cityDELETE" class="city-delete-button" data-city-id="{{ city.id }}">
              <i class="fa-regular fa-trash-can"></i>
            </div>
            <dialog id="deleteDialog-{{ city.id }}" class="delete-dialog">
              <p>Are you sure you want to delete city {{ city.name }}?</p>
              <button id="confirmDelete">Yes</button>
              <button id="cancelDelete">No</button>
            </dialog>

            <div id="cityEDIT" class="city-edit-button" data-city-id="{{ city.id }}">
              <i class="fa-regular fa-pen-to-square"></i>
            </div>
            <dialog id="editDialog-{{ city.id }}">
              <div class="modalContainer">
                <div id="formHeading">Edit {{ city.name }}</div>
                <form id="editForm-{{ city.id }}" action="/" method="PUT" enctype="multipart/form-data">
                  <input type="text" placeholder="{{ city.name }}" id="cityName" name="cityName"/>
                  <input type="text" placeholder="{{ city.description }}" id="cityDesc" name="cityDesc" />
                  <input type="number" placeholder="{{ city.population }}" id="cityPop" name="cityPop" />
                  <input type="number" step="any" placeholder="{{ city.area }}" id="cityArea" name="cityArea" />
                  <input type="number" placeholder="{{ city.AHI }}" id="cityAHI" name="cityAHI" />
                  <input type="file" id="cityImgPUT" name="cityImgPUT" class="file-input" />
                  <label for="cityImgPUT" class="file-label">
                    <i class="fa-solid fa-image"></i>
                    &nbsp;Upload Image
                  </label>
                  <button id="submitChange" type="submit">Submit Change</button>
                </form>
              </div>
            </dialog>
          </div>
        {% endfor %}
        </div>
      {% else %}
          <div id="bigNotification">
          only members can view cities, please <span><a href="/login">login</a></span> or <a href="/signup">signup</a> to view cities
        </div>
      {% endif %}

{% endblock %}

{% block dialog %}
    <div id="addCityButton" class="addIcon">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

  {% if isAuthenticated %}
    <dialog id="addCityForm">
      <div class="modalContainer">
        <div id="formHeading">Add a City Category!</div>
        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="text" placeholder="Name" id="cityName" name="cityName" required/>
          <input type="text" placeholder="Description" id="cityDesc" name="cityDesc" />
          <input type="number" placeholder="Population" id="cityPop" name="cityPop" />
          <input type="number" step="any" placeholder="Area" id="cityArea" name="cityArea" />
          <input type="number" placeholder="Average Household Income" id="cityAHI" name="cityAHI" />
          <input type="file" id="cityImg" name="cityImg" class="file-input" />
          <label for="cityImg" class="file-label">
            <i class="fa-solid fa-image"></i>
            &nbsp;Upload Image
          </label>
          <button type="submit">Submit</button>
        </form>
      </div>
    </dialog>
  {% else %}
    <dialog id="addCityForm">
      <div class="modalContainer">
        <div id="formHeading">Only Members can add a City Category!</div>
      </div>
    </dialog>
  {% endif %}

{% endblock %}