{%extends 'base.njk'%}

{%block content%}
          <div class="card">
        <div class="card-image"><img src="./public/images/cities/irvine.jpeg"></div>
        <div class="card-text">
          <span class="date"><h2>Irvine</h2></span>
          <p>
            <a href="https://www.cityofirvine.org/">Website</a>
          </p>
          <p>"The Master-Planned City"</p>
        </div>
        <div class="card-stats">
          <div class="stat">
            <div class="value">290k</div>
            <div class="type">population</div>
          </div>
          <div class="stat border">
            <div class="value">P.T.</div>
            <div class="type">timezone</div>
          </div>
          <div class="stat">
            <div class="value">
              66.1
              <sup>2</sup>
              m
            </div>
            <div class="type">area</div>
          </div>
        </div>
      </div>
{%endblock%}
