{% extends 'base.njk' %}

{% block main %}
    <form action="/login" Method="POST" class="signup-container">
        <div id="formHeading">Login :)</div>
        {% if message %}
            <div id="errorMessage">{{ message }}</div>
        {% endif %}
        <input type="email" placeholder="Email" id="email" name="email" required/>
        <input type="password" placeholder="Password" id="password" name="password" required/>
        <button type="submit" id="signupButton">Login</button>
    </form>
{% endblock %}
```