{% extends 'base.njk' %}

{% block main %}
    <form action="/signup" Method="POST" class="signup-container">
        <div id="formHeading">Sign Up!</div>
        <input type="email" placeholder="Email" id="email" name="email" required/>
        <input type="password" placeholder="Password" id="password" name="password" required/>
        <input type="password" placeholder="Repeat Password" id="repeatPassword" name="repeatPassword" required/>
        <button type="submit" id="signupButton">Sign Up</button>
    </form>
{% endblock %}
```