{% extends 'base.njk' %}

{% block main %}
    <form action="/signup" Method="POST" class="signup-container">
        <div id="formHeading">Signup :)</div>
        {% if message %}
            <div id="errorMessage">{{ message }}</div>
        {% endif %}
        <input type="email" placeholder="Email" id="email" name="email" required/>
        <input name="password" placeholder="Password" required="required" type="password" id="password" oninput="checkPassword()" minlength="8" maxlength="40" required>
        <input name="password_confirm" placeholder="Confirm Password" required="required" type="password" id="password_confirm" oninput="checkPassword()" required/>
        <button type="submit" id="signupButton">Sign Up</button>
    </form>
{% endblock %}
```